:root{
  background-color: black;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  align-items: center;
  padding: 20px;
}

footer{
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
  position: sticky;
  top:0;
  display: flex;
  overflow: hidden;
}

.madewith{
  display: flex;
}